.orders_table_wrapp
    display block
    width 100%
    height 100%
    background #fff
.orders__filter
    margin 0 20px
    margin-bottom 30px

.orders_header
    font-size 36px
    color #67708a
    margin 30px 0 40px
    padding-left: 20px;
    padding-top: 30px;



.orders__table_header
    width: 100%;
    padding: 15px 20px;
    display: table;
    transition: .6s ease;
    font-size: 15px;
    span
        display: inline-block;
        color: #67708a;
        padding-right: 10px;
        float left
        &:nth-child(1)
            width 9%
        &:nth-child(2)
            width 9%
        &:nth-child(3)
            width 9%
        &:nth-child(4)
            width 11%
        &:nth-child(5)
            width 17%
        &:nth-child(6)
            width 20%
        &:nth-child(7)
            width 12%
        &:nth-child(8)
            width 13%
.orders__item_hover
    transition .4s ease
    cursor: pointer
    &:hover
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 13px 18.8px 1.2px rgba(0,82,165,.18);
        transform: scale(1.01);
.orders__item
    height: 95px;
    display: table;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #dde0ea;
    >span
        display: inline-block;
        color: #181818;
        padding-right: 10px;
        font-size: 15px;
        vertical-align: top;
        float left
        &:nth-child(1)
            width 9%
        &:nth-child(2)
            width 9%
        &:nth-child(3)
            width 9%
        &:nth-child(4)
            width 11%
        &:nth-child(5)
            width 17%
        &:nth-child(6)
            width 19%
        &:nth-child(7)
            width 13%
        &:nth-child(8)
            width 13%
.orders__item
    p
        margin-bottom: 0;
        margin-top: 12px;

.orders__list_filter_item.floatRight
    margin-right 0
    width 277px  //safari
    >.sort_by
        float left
    >.select
        float right
        padding-left 20px



.orders__list_filter_item
    display inline-block
    margin-right 20px
    color #67708a
    #WAYBILL + label
        margin-right 20px



