.active_orders_table_wrapp
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    //width: 880px;
    height: 600px;
    margin-top 20px
    position relative
    .active_orders_table__header
        font-size 36px
        display block
        color #e00b25
        padding 25px 20px 44px
        //border-bottom 1px solid #dde0ea
        .all_result
            font-size 15px
            width: 196px;
            height: 31px;
            float right
            margin-top 3px
.active_orders_table_wrapp
    .novice_user
        font-size 24px
        color: #67708a
        text-align center
        margin: 65px 0 70px;
        a
            color #2a8bf2
            &:hover
                border-bottom 1px solid #2a8bf2
        div
            line-height 1.6
    .no_orders
        display none
        position absolute
        bottom 150px
        left 0
        right 0
        margin auto
        text-align center
        font-size 24px
        color #67708a
        div
            margin 40px 0
        a
            color #2a8bf2
            &:hover
                border-bottom 1px solid #2a8bf2
        span
            line-height 34px
.active_orders__item
    width 100%
    padding 15px 20px
    height 95px
    display table
    border-bottom 1px solid #dde0ea
    transition .6s ease
    color: #181818
    &:nth-child(2)
        border-top 1px solid #dde0ea
    >span
        display table-cell
        //color: #67708a;
        padding-right 10px
        >span
            display block
            line-height: 25px;
    .order_status
        div
        span
            display inline-block
    .including_taxes
        line-height 1.3
    &:hover
        //border-radius: 5px;
        //background-color: rgb(255, 255, 255);
        //box-shadow: 0 13px 18.8px 1.2px rgba(0, 82, 165, 0.24);
        //transform scale(1.023,1.021)
        .order__more
        .order__cancellation
            opacity 1
            visibility visible
.active_orders__item_hover
    transition .4s ease
    &:hover
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 13px 18.8px 1.2px rgba(0, 82, 165, 0.24);
        transform scale(1.023,1.021)


.contract_number
.date_time
.delivery_method
    width 150px
.summ
    width 160px
.order_status
    width 245px
    span
        color #181818
.date
.delivery
    color #181818

.delivery
    position relative
    transition .4s ease
    color #2a8bf2
    .popap
        position: absolute;
        border-width: 1px;
        border-color: rgb(225, 226, 229);
        border-style: solid;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 13px 18.8px 1.2px rgba(0, 82, 165, 0.24);
        display block
        padding 4px 10px
        width 450px
        color #67708a
        left: 90px;
        top: -13px;
        opacity 0
        visibility hidden
        transition .4s ease
        z-index 10
        &:before
            content: '';
            width: 15px;
            height: 15px;
            display: block;
            top: 15px;
            margin: auto;
            left: -8px;
            position: absolute;
            background: #fff;
            transform: rotate(-45deg);
            box-shadow: inset 2px 2px 0 -1px #e1e2e5;
        .adds
            font-size 12px
            line-height 18px
            display block
        .whence
        .where
            text-transform uppercase
            display block
            font-size 12px
            line-height 2
    &:hover
        color #2a8bf2
        cursor pointer
        .popap
            opacity 1
            visibility visible





.order__more
.order__cancellation
    display block
    font-size 15px
    color #67708a
    padding-left: 14px;
    transition .4s ease
    opacity 0
    visibility hidden
    &:hover
        color #ff0000
        text-decoration underline
