@media screen and (max-width: 1800px)
    .content
        .content_right
            margin-top 30px !important
        .content_left
        .content_right
            display block
            width 90%
            margin auto
            float none
    .product_list_wrapp
    .header_search_new_order
        margin 0 0 0 10px
    //3шаг табл-------------------
    .product_list_wrapp.step3
        .product_list_table
            .product_list_table__header
            .product_list_table_item
                >span
                    &:nth-child(1)
                        width 12%
                    &:nth-child(2)
                        width 23%
                    &:nth-child(3)
                        display none
                    &:nth-child(4)
                        display none
                    &:nth-child(5)
                        width 9%
                    &:nth-child(6)
                        width 13%
                    &:nth-child(7)
                        width 14%
                    &:nth-child(8)
                        width 12%
                    &:nth-child(9)
                        width 11%
                        border 0
                    &:last-child
                        max-width 50px
                        min-width 50px
                        border-right 0
                        float: right;
    //каталог продукции таблица списка товаров
    .product_list_wrapp.product_catalog_list_wrapp
        .product_list_table
            .product_list_table__header
            .product_list_table_item
                >span
                    &:nth-child(1)
                        width 10%
                    &:nth-child(2)
                        width 30%
                    &:nth-child(3)
                        width 23%
                    &:nth-child(4)
                        width 14%
                    &:nth-child(5)
                        width 16%
                    &:last-child
                        max-width 50px
                        min-width 50px
                        border-right 0
                        float: right;


//@media screen and (max-width: 1600px)

@media screen and (max-width: 1430px)
    .product_list_wrapp.step3
        .product_list_table
            .product_list_table__header
                height 60px
            .product_list_table__header
            .product_list_table_item
                >span
                    &:nth-child(1)
                        width 12%
                    &:nth-child(2)
                        width 23%
                    &:nth-child(3)
                        display none
                    &:nth-child(4)
                        display none
                    &:nth-child(5)
                        width 11%
                    &:nth-child(6)
                        width 13%
                    &:nth-child(7)
                        width 14%
                    &:nth-child(8)
                        width 17%
                        border 0
                    &:nth-child(9)
                        display none
    //таблица заказы
    .orders__table_header
    .orders__item
        >span
            &:nth-child(1)
                width 15%
            &:nth-child(2)
                width 13%
            &:nth-child(3)
                width 13%
            &:nth-child(4)
                width 14%
            &:nth-child(5)
                display none
                //width 17%
            &:nth-child(6)
                display none
                //width 19%
            &:nth-child(7)
                width 19%
            &:nth-child(8)
                width 26%

    //каталог продукции таблица списка товаров
    .product_list_wrapp.product_catalog_list_wrapp
        .product_list_table
            .product_list_table__header
            .product_list_table_item
                >span
                    &:nth-child(1)
                        width 21%
                    &:nth-child(2)
                        width 29%
                    &:nth-child(3)
                        display none
                        //width 23%
                    &:nth-child(4)
                        width 14%
                    &:nth-child(5)
                        width 25%
                    &:last-child
                        max-width 50px
                        min-width 50px
                        border-right 0
                        float: right;

    .documents__list_filter_item.documents__sort
        float right
        margin 0

@media screen and (max-width: 1366px)
    .notifications_block_wrapper
        display block
        min-width 160px
        padding 5px 10px
        .notifications__new_wrapp
        .notifications__new
        .notifications__dogovor
        .notifications__exit
        .notifications__FAQ
            width: 37px;
            margin: 0 10px;
            height: 50px;
            span
                top 45px
                bottom auto
                z-index 1
            .notifications__last_change_wrapp
                right -90px
                &:before
                    left auto
                    right 97px
        .notifications__new_wrapp
            .notifications__new
                .indicator
                    top: 15%;
                    right: 3%;
    .user_wrapper
        min-width 415px
        .user__company
            margin-top 8px
    .balance_wrapper
        min-width 265px

    .header_search_new_order
        form#sort_product
            .documents__list_filter_item.floatRight
                margin 10px 20px 0

@media screen and (max-width: 1200px)

    .header_search
        padding 0 20px
        min-width 175px
    .user_wrapper
        min-width 365px
        padding 0 10px
    .balance_wrapper
        min-width 245px
        padding 0 10px

    .content
        .content_left
        .content_right
            display block
            width 100%
            margin auto
            float none

    .header_search_new_order
        height auto
        form#search_new_order
            width 100%
        form#sort_product
            float left
            .documents__list_filter_item.floatRight
                height auto
                padding 10px
                margin 0
    .product_list_wrapp.step3
        .product_list_table
            .product_list_table__header
            .product_list_table_item
                >span
                    &:nth-child(1)
                        width 13%
                    &:nth-child(2)
                        width 23%
                    &:nth-child(3)
                        display none
                    &:nth-child(4)
                        display none
                    &:nth-child(5)
                        width 12%
                    &:nth-child(6)
                        display none
                        //width 13%
                    &:nth-child(7)
                        width 18%
                    &:nth-child(8)
                        width 24%
                        border 0
                    &:nth-child(9)
                        display none

    //каталог продукции таблица списка товаров
    .product_list_wrapp.product_catalog_list_wrapp
        .product_list_table
            .product_list_table__header
            .product_list_table_item
                >span
                    &:nth-child(1)
                        width 30%
                    &:nth-child(2)
                        width 29%
                    &:nth-child(3)
                        display none
                        //width 23%
                    &:nth-child(4)
                        display none
                        //width 14%
                    &:nth-child(5)
                        width 24%
                    &:last-child
                        max-width 50px
                        min-width 50px
                        border-right 0
                        float: right;


    //Заказы------------------------------------------

    .orders__filter
        .documents__list_filter_item
            margin-right: 4px;
            height 30px

    .checkbox:not(checked)+label {
        padding: 0 0 0 25px;
    }
    .documents__list_filter_item #WAYBILL+label
        margin-right 0

    .showing_wrapp
        width 100%

@media screen and (max-width: 1120px)
    header.credit_limit
        .user_wrapper
            min-width 265px
        .user__ava
            display none
        .notifications_block_wrapper
            min-width 140px

    .header_search
        padding 0 20px
        min-width auto

    .header_search_new_order
        form#sort_product
            .documents__list_filter_item.floatRight
                margin 10px -5px 0

    .product_list_wrapp.step3
        .product_list_table
            .product_list_table__header
            .product_list_table_item
                >span
                    &:nth-child(1)
                        width 16%
                    &:nth-child(2)
                        width 22%
                    &:nth-child(3)
                        display none
                    &:nth-child(4)
                        display none
                    &:nth-child(5)
                        width 18%
                    &:nth-child(6)
                        display none
                    &:nth-child(7)
                        display none
                        //width 18%
                    &:nth-child(8)
                        width 32%
                        border 0
                    &:nth-child(9)
                        display none
