///* font-family: "GraphikMedium"; */
//@font-face {
//  font-family: "Graphik LC Medium";
//  src: url("../fonts/font_graphik/Graphik-Medium-Desktop.otf");
//  src: url("../fonts/font_graphik/Graphik-Medium-Desktop.otf?#iefix") format("opentype");
//  font-style: normal;
//  font-weight: 500;
//}
///* font-family: "GraphikLight"; */
//@font-face {
//  font-family: "Graphik LC Light";
//  src: url("../fonts/font_graphik/Graphik-Light-Desktop.otf");
//  src: url("../fonts/font_graphik/Graphik-Light-Desktop.otf?#iefix") format("opentype");
//  font-style: normal;
//  font-weight: 200;
//}
///* font-family: "GraphikBold"; */
//@font-face {
//  font-family: "Graphik LC Bold";
//  src: url("../fonts/font_graphik/Graphik-Bold-Desktop.otf");
//  src: url("../fonts/font_graphik/Graphik-Bold-Desktop.otf?#iefix") format("opentype");
//  font-style: normal;
//  font-weight: 700;
//}
//@font-face {
//  font-family: "Graphik"; /* имя шрифта для CSS правил */
//  src: local("Graphik-Light-Desktop"), /* проверяем наличие шрифта в ОС пользователя */
//        url('../fonts/Graphik/Graphik-Light-Desktop.otf');
///* если шрифт не установлен, тогда загружаем его по указанному пути */
//}

//@font-face {
//  font-family: "Graphik";
//  src: url('../fonts/Graphik/GraphikLC-Light.woff2') format('woff2'),url('../fonts/Graphik/GraphikLC-Light.woff') format('woff'),url('../fonts/Graphik/GraphikLC-Light.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//}
//
////* font-family: "GraphikBold"; */
//@font-face {
//  font-family: 'Graphik';
//  src: url('../fonts/Graphik/GraphikLC-Bold.woff2') format('woff2'),url('../fonts/Graphik/GraphikLC-Bold.woff') format('woff'),url('../fonts/Graphik/GraphikLC-Bold.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//}
//
////* font-family: "GraphikMedium"; */
//@font-face {
//  font-family: 'Graphik';
//  src: url('../fonts/Graphik/GraphikLC-Medium.woff2') format('woff2'),url('../fonts/Graphik/GraphikLC-Medium.woff') format('woff'),url('../fonts/Graphik/GraphikLC-Medium.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//}


@font-face {
  font-family: 'Graphik LC';
  src: url('../fonts/GraphikLC/GraphikLC-Bold.woff2') format('woff2'), url('../fonts/GraphikLC/GraphikLC-Bold.woff') format('woff'), url('../fonts/GraphikLC/GraphikLC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LC';
  src: url('../fonts/GraphikLC/GraphikLC-Medium.woff2') format('woff2'), url('../fonts/GraphikLC/GraphikLC-Medium.woff') format('woff'), url('../fonts/GraphikLC/GraphikLC-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LC';
  src: url('../fonts/GraphikLC/GraphikLC-Light.woff2') format('woff2'), url('../fonts/GraphikLC/GraphikLC-Light.woff') format('woff'), url('../fonts/GraphikLC/GraphikLC-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
